{% extends '::base.html.twig' %}

{% block body %}
    <h1>User</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ entity.password }}</td>
            </tr>
        </tbody>
    </table>

    <table>
        <tr>
            <td>Redeem code: </td>
            <td>
                <form name="redeem-code">
                    <input id="redeem-code-input" type="text" name="redeem-code">
                </form>
            </td>
            <td><button id="redeem-code-button">Redeem code</button></td>
        </tr>
        <tr>
            <td>
                <div id="redeem-code-status"></div>
            </td>
        </tr>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('user') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('user_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            $('#redeem-code-button').on('click', function () {
                var code = $('#redeem-code-input').val();
                if (code.length > 0) {
                    $.ajax({
                        url: '{{ path('redeem_my_code') }}',
                        method: 'POST',
                        data: {
                            'code': code,
                            'userId': {{ entity.id }}
                        },
                        success: function (data) {
                            try {
                                data = JSON.parse(data);
                                console.log(data);
                                if ('message' in data) {
                                    $('#redeem-code-status').text(data.message);
                                }
                            }
                            catch (error) {
                                $('#redeem-code-status').text('An unexpected error occurred');
                            }
                        }
                    }).fail(function () {
                        $('#redeem-code-status').text('An unexpected error occurred');
                    });
                }
            });
        });
    </script>
{% endblock %}
